@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

p {
  margin: 0;
}

/*

  form

*/

.form-group {
  width: 100%;
  margin: 0;
}

.form-item {
  margin-bottom: var(--space-small);
}

/*

  explanation text

*/

.paragraph {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 20px;
  text-align: justify;
}

/*

  loading spinner

*/

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.central-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*

  buttons

*/

.button-fixed-bottom {
  position: fixed;
  bottom: 0;
}

/*

  select

*/

.select {
  margin-top: 10px;
}

/*

  table

*/

.table-container {
  max-height: 380px;
  width: 100%;
  overflow-y: auto;
}

.modal-container {
  width: 100%;
}

/*

  pr modal

*/

.subheader {
  margin-left: 25px;
  margin-bottom: 5px;
}

.description {
  background-color: rgb(225, 223, 223);
  padding: 5px 5px 5px 5px;
  font-size: 13px;
  border-radius: 5px;
}

.files-added {
  color: #525252;
  background-color: #cfcfcf;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.addition {
  color: #a5e8b7;
  background-color: #0fb509;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.deletion {
  color: #e6aba3;
  background-color: #cf1e06;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.comments {
  color: #c70494;
  background-color: #f7bae7;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.approved {
  color: #0d750d;
  background-color: #a5e8b7;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.changes-requested {
  color: #e6c300;
  background-color: #f5deb3;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.commented {
  color: #FFA500;
  background-color: #f5deb3;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.closed {
  color: #FF0000;
  background-color: #e6aba3;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.no-review {
  color: #525252;
  background-color: #b8b8b8;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.in-review {
  color: #002eab;
  background-color: #a8c0ff;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.merged {
  color: #5a00a3;
  background-color: #d8a8ff;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.new {
  color: #0d750d;
  background-color: #a5e8b7;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.mid {
  color: #FFA500;
  background-color: #f5deb3;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.old {
  color: #FF0000;
  background-color: #e6aba3;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.default-option {
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.icon {
  align-items: center;
  height: 15px;
  width: auto;
  transform: translateY(3px);
  display: inline;
  padding-right: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 20px;  /* Adjust the gap between items as needed */
}

